<h2 class="page-header">Edit Book</h2>
<form action="/books/<%= book.id  %>?_method=PUT" method="POST" enctype="multipart/form-data">
    <%- include('_form_fields.ejs') %>
    <a href="/books">Cancel</a>
    <button href="/" type="submit">Update</button> 
</form>