<header>
    <nav class="header-nav">
        <a class="header-title" href="/">MyApp</a>
        <ul>
            <li class="header-link"><a class="lng-header-link-1" href="/authors">Authors</a></li>
            <li class="header-link"><a class="lng-header-link-2" href="/authors/new">Add Author</a></li>
            <select class="change-lang">
                <option value="ru">RU</option>
                <option value="en" selected>EN</option>
                <option value="sk">SK</option>
            </select>
        </ul>
    </nav>
</header>