<header>
    <nav class="header-nav">
        <a class="header-title" href="/">MyApp</a>
        <ul>
            <li class="header-link"><a href="/authors">Authors</a></li>
            <li class="header-link"><a href="/authors/new">Add Author</a></li>
            
        </ul>
    </nav>
</header>