<h2 class="page-header">Recently Added</h2>
<div>
    <% books.forEach(b => { %>
      <a href="/books/<%= book.id %>">  
        <img height="150" width="100" src="<%= b.coverImagePath %> ">
      </a>   
    <% }) %>    
</div>    

