<div class="form-row">
    <div class="form-item">
        <label class="name">Name</label>

        <input type="text" name="name" onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off value="<%= author.name %>"> 
    </div>
</div>




<!--?value from server body.name-->