<label>Name</label>

<input type="text" name="name" value="<%= author.name %>"> <!--!<%=%> tells the server to create whatever text it got inside of this call it author.name and display it like a string-->


<!--?value from server body.name-->